* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

nav {
  display: flex;
  align-items: center;
  gap: 45px;
  padding: 20px 40px;
}

.list-items {
  display: flex;
  gap: 45px;
}

.btnStart {
  color: #fff;
  background-color: #000;
  border: none;
}

.btnStop {
  border: 1px solid #dddddd;
}

.timer {
  display: flex;
  gap: 25px;
  margin-top: 20px;
  justify-content: center;
}

.field {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.value {
  font-size: 2.5rem;
  font-weight: 700;
}

.btnStart, .btnStop {
  cursor: pointer;
  margin: 0 5px;
  border-radius: 3px;
  padding: 10px 20px;
}

.inputStyle {
  margin: 0 5px;
  border-radius: 3px;
  border: 1px solid #bbb8b8;
  padding: 10px 20px;
}

.list-items li {
  margin: 10px 0;
  list-style: none;
}

.list-items li a, .go-back a {
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.box {
  width: 100%;
}

.box-jct {
  display: flex; 
  justify-content: center;
  text-align: center;
  margin-top: 80px;
}

@media (max-width: 620px) {
  nav {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 20px 40px;
  }
  .list-items {
    display: flex;
    flex-direction: column;
    gap: 45px;
  }
  .box-jct {
    display: flex; 
    justify-content: center;
    margin-top: 0px;
  }
}